* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #b3113b;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 70%;
    margin: auto;
}

.form-box {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
}

.ticket {
    background: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
